{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ post.title(app.request.getLocale()) }}</h1>

    <div>
        <p>{{ post.content(app.request.getLocale()) }}</p>
    </div>
{% endblock %}

{% block sidebar %}
    {% if app.user and post.isAuthor(app.user) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('admin_post_edit', { id: post.id }) }}">
                <i class="fa fa-edit"></i> {{ 'Edit Post' }}
            </a>
        </div>
    {% endif %}
    
{% endblock %}